@import "../../global.scss";

.agenda-item {
  @include box-center($justify: flex-start);
  align-items: flex-start;
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 6rem;
  }
  .vectors {
    width: 1rem;
    height: 100%;
    margin-right: 1rem;
    @include box-center($direction: column);
    align-items: center;
    .square {
      width: 0.7rem;
      height: 0.7rem;
      border: 0.15rem solid $btn_green;
      border-radius: 3px;
      transform: rotate(45deg);
      box-shadow: 0 0 10px $btn_green, 0px 0px 4px $btn_green inset;
      margin: 6px 0 0 3px;
    }
    .vertical-line {
      height: 6rem;
      width: 3px;
      background-color: $btn_green;
      opacity: 0.25;
      border-radius: 3px;
      box-shadow: 0 0 5px $btn_green;
      margin-left: 3px;
      margin-top: 0.5rem;
    }
  }

  .item-date {
    font-size: 1.05rem;
    color: $btn_green;
  }

  .item-title {
    color: $heading_white;
    font-size: 1.65rem;
    margin: 0.4rem 0;
  }

  .item-description {
    color: #858585;
    font-size: 1.2rem;
  }
}
