@import "../../global.scss";

.o-projektu {
  min-height: 100vh;
  background: $pozadina_tamna;
  background-image: url("../../Assets/Images/pattern-brojevi.png");
  background-repeat: repeat-x;
  @include box-center($justify: flex-end);
  .o-projektu-wrapper {
    background-color: $pozadina_tamna;
    z-index: 1;
    min-height: 60vh;
    width: 60%;
    min-width: 20rem;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    box-shadow: 0 0px 4px 5px #00ffa26b;
    padding: 4rem 10rem 4rem 4rem;
    margin: 3rem 0;
    @include box-center($direction: column, $justify: space-between);
    align-items: flex-start;
    p {
      color: $tekst_tamna;
      margin-bottom: 1rem;
    }
    button {
      margin-top: 1rem;
    }
  }
}

@media screen and (max-width: 1050px) {
  .o-projektu-wrapper {
    padding: 2rem 4rem 2rem 2rem !important;
    width: 85% !important;
  }
}
