@import "../../global.scss";

.hero {
  height: 100vh;
  width: 80vw;
  margin-left: 10vw;
  background: $pozadina_tamna;
  @include box-center;
  align-items: flex-start;
  padding-top: 10rem;
  .site-info {
    width: 40%;
    min-width: 20rem;
    .title {
      font-size: 3.6rem;
      font-weight: 600;
      color: $naslov_tamna;
      margin-bottom: 1.5rem;
    }
    .description {
      color: $tekst_tamna;
      font-weight: 300;
      font-size: 1.3rem;
      margin-bottom: 2rem;
      letter-spacing: 2px;
    }
    .buttons-wrapper {
      @include box-center;
      align-items: flex-start;
    }
    button:first-child {
      flex: 3;
      margin-right: 1rem;
    }
    button:last-child {
      flex: 2;
    }
  }
  .laptop {
    width: 60%;
  }
  .front-img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 5%;
    width: 95%;
    height: 10rem;
    z-index: 50;
  }
  .hero-front-image {
    @include fit-image;
    opacity: 0.6;
  }
}

.mockup {
  display: inline-block;
  position: relative;
  z-index: 3;
  text-align: center;
  font-size: 0;
  perspective: 2400px;
  perspective-origin: 50% 100%;
  transition: 500ms opacity;
  .part {
    display: inline-block;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform-origin: 50% 100%;
    transition: 900ms;
    .top,
    .bottom {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .part.top {
    transform: translate3d(0, 0, 0) rotateX(-90deg);
  }
  &.animate .part.top {
    transform: translate3d(0, 0, 0) rotateX(0deg);
  }

  &.opened .part .top {
    transform: translate3d(0, 0, -11px) rotateX(90deg) scale(1, 1);
  }

  .part .top {
    transform-origin: 50% 0;
    transform: translate3d(0, 0, -11px) rotateX(90deg);
    transition: 900ms;
  }

  img {
    display: block;
    max-width: 100%;
    backface-visibility: hidden;
  }

  .part .cover {
    position: relative;
  }

  .hzs-logo {
    display: block;
    position: absolute;
    top: 1.5%;
    left: 1%;
    width: 98%;
    height: 99%;
    border-radius: 6px;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 1px);
  }

  .part.bottom {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0) rotateX(-90deg);
  }

  .part .bottom {
    transform-origin: 50% 0;
    transform: translate3d(0, 0, 0) rotateX(90deg);
  }

  .hzs-logo img {
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
  }
}

@media only screen and (max-width: 1215px) {
  .hero {
    padding-top: 4rem;
  }
}
