@import "../../global.scss";
@mixin text-style($size: 2rem, $weight: 400) {
  font-family: "Roboto";
  color: #ffffff;
  font-size: $size;
  font-weight: $weight;
}

.timer {
  background-color: $pozadina_tamna;
  min-height: 100vh;
  align-items: left;
  position: relative;
  .timer-wrapper {
    margin-top: 2rem;
    width: 80%;
    margin-left: 12vw;
    @include box-center(column, center);
    align-items: flex-start;
    .timer-naslov {
      @include text-style(3rem, 700);
      width: 85%;
      margin-top: 1.8rem;
      font-size: 2.4rem;
      align-self: flex-start;
      z-index: 100;
    }
    .timer-podnaslov {
      z-index: 100;
      margin-top: 2rem;
      @include text-style(1.2rem, 400);
      width: 85%;
      align-self: flex-start;
    }
  }
}

@media only screen and (max-width: 1150px) {
  .timer-wrapper {
    align-items: center !important;
  }
}

@media only screen and (max-width: 960px) {
  .timer-wrapper {
    @include box-center(column, center);
    .timer-naslov {
      @include text-style(1rem, 400);
      padding-left: 2rem !important;
    }
    .timer-podnaslov {
      padding-left: 2rem !important;
    }
  }
}
