@import "../../global.scss";

.partneri {
    padding: 4rem;
    padding-top: 5rem;
    margin-bottom: 10rem;

    .pokrovitelj,
    .generalni,
    .naturalni,
    .medijski {
        @include box-center(column, center);
    }

    .generalniNaslov {
        margin-top: 2rem;
        font-size: 2rem;
        text-align: center;
    }
    .naturalniNaslov,
    .medijskiNaslov {
        margin-top: 2.2rem;
        font-size: 1.8rem;
        text-align: center;
    }
}

.slick-slide > :first-child {
    @include box-center(row, center);
}
