@import "../../global.scss";

.partner {
    box-shadow: 2px 2px 8px 6px #00ffa260;
    border-radius: 2rem;
    transform: scale(0.9);
    img {
        @include contain-image;
        max-width: 100%;
        max-height: 100%;
    }
}
