@import "../../global.scss";

nav {
  @include box-center;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  padding: 1rem 2rem;
  width: 100vw;
  background: $pozadina_tamna;
}

.logo-wrapper {
  z-index: 100;
  min-width: 5rem;
  max-width: 7rem;
  img {
    @include fit-image;
  }
}

.links-wrapper {
  ul {
    @include box-center;
  }
  li {
    padding: 0 1rem;
    white-space: nowrap;
    color: $tekst_tamna;
    cursor: pointer;
    position: relative;
    a {
      color: $dugme_tamna;
      border: 3px solid $dugme_tamna;
      border-radius: 2rem;
      padding: 0.2rem 1.2rem;
    }
  }
}

.hamburger-menu {
  z-index: 100;
  height: 1rem;
  @include box-center($direction: column);
  justify-content: space-between;
  cursor: pointer;
  .line {
    width: 1.8rem;
    height: 0.2rem;
    border-radius: 0.2rem;
    background-color: $tekst_tamna;
  }
}

.menu {
  @include box-center($direction: column);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 50;
  background-color: $pozadina_tamna;
  ul {
    height: 70%;
    @include box-center($direction: column);
    justify-content: space-between;
    li {
      text-transform: uppercase;
      font-size: 1.8rem;
      padding: 0.8rem 0;
      color: $tekst_tamna;
      cursor: pointer;
      position: relative;
      font-weight: 600;
      a {
        color: $dugme_tamna;
        border: 3px solid $dugme_tamna;
        border-radius: 2rem;
        padding: 0.2rem 1.2rem;
      }
    }
  }
}

.links-wrapper {
  li::before {
    left: 1rem !important;
  }
  li:hover::before {
    width: 70% !important;
  }
}

.menu,
.links-wrapper {
  li::before {
    content: attr(datacontent);
    position: absolute;
    border-bottom: 3px solid $dugme_tamna;
    top: 50%;
    transform: translateY(-50%) translateY(1.5px);
    left: 0;
    color: $dugme_tamna;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.7s ease-in-out;
  }
  li:hover::before {
    width: 100%;
  }
  li:last-child {
    transition: all 0.4s ease-in-out;
  }
  li:last-child::before {
    border-bottom: none;
  }
  li:hover:last-child {
    transform: scale(1.05);
  }
}

.menu li:last-child {
  padding-top: 1.2rem;
}

@media only screen and (max-width: 1100px) {
  .links-wrapper {
    display: none;
  }
}

@media only screen and (min-width: 1100px) {
  .hamburger-menu,
  .menu {
    display: none;
  }
}
