@import "../../global.scss";

.podsetnik {
    @include box-center(column, center);

    .podsetnik-prijave {
        background-color: $pozadina_bela;
        padding-top: 8rem;
    }
}

.statistika {
    background-color: $pozadina_bela;
    @include box-center(row, space-between);
    transform: translateY(50%);
    border-radius: 2rem;
    box-shadow: 0px 20px 15px 0px #eeeff2a8;
    width: 90%;
    min-height: 10rem;

    .statistika-item {
        @include box-center(row, center);
        flex: 1;
        border-right: 2px solid #eeeff2;
        padding: 2rem;

        .statistika-text {
            margin-left: 2rem;
        }

        .statistika-broj {
            font-family: "Archivo Black";
            font-size: 2rem;
        }

        .statistika-opis {
            color: #575b60;
            font-weight: bold;
            font-size: 1.2rem;
        }
    }

    .statistika-item:last-child {
        border: none;
    }
}
